################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InventoryManagementSystem/v15/Server/sqlite3
/.vs/InventoryManagementSystem/v15
/.vs/XamarinFormsInventory/v15
*.json
